.popup__closebtn {
    background: rgba(0,0,0,0);
    background-image: url(../../../images/close.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    position: absolute;
    top: -30px;
    right: -30px;
    cursor: pointer;
}