.element__trash {
    border-radius: 50%;
    background-color: #00BFFF;
    background-image: url(../../../images/trash.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    border: 0;
    cursor: pointer;
}